//$primary_color: #4077b9;
$primary_color: #8a729b;
$primary_color_transparent: #8a729b6e;
$secondary_color: #368ecd; // #587e80
$secondary_color_transparent: #368ecd8a;

$input_field_border_color: #e1dfdf;
$input_field_background_color: #e5eaff;