@use "../../styles/vars";

.lessoncard {
    position: relative;
    max-width: 23rem;
    min-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;

    &__date_container {
        text-align: center;
        background-color: vars.$primary_color_transparent;
        color: white;
        font-weight: 600;
    }

    &__weekday {
        background-color: vars.$secondary_color;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    &__day {
        font-size: 4rem;
    }

    &__month {
        font-size: 2rem;
    }

    &__year {
        font-size: 1.5rem;
        padding-bottom: 0.3rem;
    }

    &__details_container {
        background-color: #ffffff8a;
        font-weight: 500;
        text-align: center;
        font-style: italic;
        min-height: 13rem;
        padding-top: 1.5rem;
    }

    &__time_period {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    &__description {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__studentname {
        position: absolute; // placing the name to the bottom of the div
        left: 0; bottom: 0; right: 0;
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    &__description_edit_btn:hover {
        cursor: pointer;
    }
}

.btn_container {
    text-align: center;
}

.goback_btn {
    width: 6rem;
    height: 2rem;
    border-radius: 4px;
    background-color: vars.$secondary_color;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
}

.goback_btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .lessoncard {
        min-width: 10rem;
    }
}