@use "../../styles/vars";

.timeslot {
  background-color: vars.$primary_color;
  //background-image: linear-gradient(to right top, #4077b9, #4077b9, #4077b9, #6799a9, #305fb5);
  padding: 1rem;
  color: white;
  border-radius: 10px;
  min-width: 13rem;
  box-shadow: 10px 10px 5px 0px rgba(207, 207, 207, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(207, 207, 207, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(207, 207, 207, 0.75);

  &__delete_btn {
    text-align: end;
  }

  &__delete_btn:hover {
    cursor: pointer;
  }

  &__times {
    display: flex;
    justify-content: space-around;
    font-style: italic;
  }

  &__date {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 0.2rem;
  }
}
