@use '../../styles/vars';

.header_container {
    background-color: vars.$primary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.nav:hover {
    color: rgb(195, 221, 241);
    transition: 0.2s;
}

.header {
    &__logo {
        color: aliceblue;
        font-weight: bold;
        font-size: 1.5rem;
        font-style: italic;
        text-decoration: underline;
    }

    &__navlinks {
        display: flex;
        gap: 1rem;
    }
}

.active {
    text-decoration: underline;
}

.mobile_navigation {
    display: none;
}

.hamburger_bars, .hamburger_close {
    position: absolute;
    right: 5%;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.mobile_navigation .header__navlinks {
    position: absolute;
    display: flex;
    gap: 1rem;
    top: 47px;
    flex-direction: column;
    right: 0px;
    text-align: center;
    width: 100%;
    background-color: #51758fbf;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 660px) {
    .desktop_navigation {
        display: none;
    }

    .mobile_navigation {
        display: flex;
        align-items: center; // align vertically
    }
}